      <div id="fullpage">
        <% @logos.each_with_index do |logo, k| %>
          
          <section class="section" id=<%="s"+k.to_s %> style='background: <%=logo.background%>;'>
            <div class="container-fluid">
              <div class="cover-content-section">
                <div class="cover-content">
                  <h1><%= logo.title %></h1>
                  <p class="description"><%= logo.content %></p>
                </div>
                <p class"hidden-p"></p>
              </div>
              <div class="cover-image-section chair">
                <div class="image-cover">
                  <%= image_tag logo.image, class:'buzz' %>
                </div>
              </div>             
            </div>
          </section>
        <% end %>
    </div>